<table class="borderless" style="border:none">
  <tr>
    <td><a onclick="toggleVisibility('imprint_info'); scrollToBottom();" style="cursor:pointer;">Imprint</a></td>
    <td><a href="?lang=en&content=privacy">Privacy</a></td>
    <td><a href="https://codeberg.org/codeberg/org/src/branch/master/PrivacyPolicy.md">Webhoster's Privacy Policy</a>
  </tr>
</table>
<img id="imprint_info" style="display:none" src="img/impressum.png" alt="Imprint"/>
