<h1 id="lets-reclaim-the-web">Let’s reclaim the Web!<sup id="Heading"><a href="#footnote">*</a></sup></h1>

<h2 id="a-manifesto-for-the-self-empowerment-of-internet-users">A Manifesto for the Self-Empowerment of Internet Users</h2>

<h3 id="the-internet-in-2019">The Internet in 2019</h3>

<p>The internet has become a virtual home for many people. They are cultivating friendships and contacts, are seeking and giving advice, are discussing about art, culture and personal matters, are sharing photos, working together, shopping, playing, making appointments. In short: they communicate.</p>

<p>However, few commercial platforms are attracting more and more users. This gives them a monopoly position and precarious power by collecting the most personal data and using it profitably. That is their business. Users, however, are faced with the choice of either entrusting their data to these platforms or being excluded from them and thus from a significant part of their social lives.</p>

<p>The knowledge the companies running these platforms accumulate, means power, bestowed by the users. This knowledge enables those companies to manipulate people in a targeted way far beyond the internet, be it to persuade them to buy certain products, or to influence their behavior in the political arena. This instrument of power is available not only to those companies themselves, but also to anyone who pays for it or, like government authorities who can exert pressure on those companies.</p>

<p>For responsible companies, too, the following applies: board members may be replaced, companies may be acquired, guidelines and legal framework conditions may change. For these reasons, centralized platforms are generally not trustworthy. Reliable trust can only be achieved by technically assured privacy.</p>

<h3 id="vision-the-internet-of-the-future">Vision: The Internet of the Future</h3>

<p>Today, the internet is already decentralized and cooperative, resistant to centralism, coercion and censorship. Every one can create their own web presence and be free and self-determined masters of their data.</p>

<p>The liberal and democratic Internet of the future, however, also has technology that is suitable for everyday use. It technically implements the confidentiality of communication in the sense of privacy by design as a matter of course. The future internet users are aware of the value of personal data and treat it with care. This way, they protect themselves and others from current and future dangers. Because they know that data that seems harmless today may be highly problematic tomorrow.</p>

<h3 id="manifesto">Manifesto</h3>

<p>We, the signatories of this manifesto, are firmly convinced that the Internet can and must be owned by the users. This requires trustworthy communication technology, which:</p>

<ul>
  <li>Guarantees the privacy and rights of users by technical means.</li>
  <li>Does not require the users to make any compromise in terms of performance and function.</li>
  <li>Is developed under an approved free and open source license.</li>
  <li>Is solely run decentrally and collectively by the users.</li>
  <li>Guarantees secure data protection for content and metadata.</li>
  <li>Is very easy to install and to use.</li>
  <li>Provides interoperability with other platforms and a quick and easy migration of profiles.</li>
</ul>

<p>We call on all Internet users to organize themselves with the aim of establishing trustworthy communication technologies and to use them widely!</p>

<p>We call on all software developers to make trustworthy communication technology available!</p>

<p>We call on all decision makers to promote trustworthy communication technology!</p>

<p>We call on all teachers and artists to create awareness for the handling of personal data!</p>

<p><strong>Let‘s take matters into our own hands!</strong></p>

<p><sup id="footnote" style="font-size:small">This is preliminary translation of the german original text. It may be amended or replaced by a better one. Suggestions for better formulations are welcome. <a href="#Heading">↩</a></sup></p>

<hr />
<p>Initiators:</p>

<ul>
  <li><a href="https://twitter.com/JorgoA">Jorgo Ananiadis</a> (Politician and Internet Activist)</li>
  <li><a href="https://twitter.com/kbosefeldt">Kai Bösefeldt</a> (Software Developer, Initiator of the <a href="https://straightway.github.io">Straightway-Projektes</a>)</li>
  <li><a href="https://www.patrick-breyer.de">Dr. Patrick Breyer</a> (Member of the <a href="https://www.europarl.europa.eu">European Parliament</a>)</li>
  <li><a href="https://mdb.anke.domscheit-berg.de">Anke Domscheit-Berg</a> (Member of the <a href="https://www.bundestag.de">German Parliament</a>)</li>
  <li><a href="https://www.saskiaesken.de">Saskia Esken</a> (Member of the <a href="https://www.bundestag.de">German Parliament</a>)</li>
  <li><a href="https://www.republik.ch/~adriennefichter">Adrienne Fichter</a> (Journalist)</li>
  <li><a href="https://www.psg-law.ch/partner/lic._iur._viktor_gyoerffy.html">lic. iur. Viktor Györffy</a> (Lawyer)</li>
  <li><a href="https://twitter.com/mhausding">Michael Hausding</a> (Executive Member of the <a href="https://www.isoc.ch">Internet Society Switzerland</a>)</li>
  <li><a href="https://www.akad.de/fernstudium/akad-university/akad-forum-2019/speaker/dr-habil-andrea-herrmann/">Prof. Dr. Andrea Herrmann</a> (Professor at the <a href="https://www.akad.de">AKAD University</a>; <a href="http://www.herrmann-ehrlich.de">Herrmann &amp; Ehrlich</a>)</li>
  <li><a href="https://vecirex.net">Hernâni Marques</a> (Council Member <a href="https://pep.foundation">p≡p foundation</a>)</li>
  <li><a href="https://www.piratenpartei.ch/">Pirate Party CH</a></li>
  <li><a href="https://peter-schaar.de">Peter Schaar</a> (Chairman of the <a href="https://www.eaid-berlin.de">European Academy for Freedom of Information and Data Protection (EAID)</a>, former <a href="https://www.bfdi.bund.de">German Federal Commissioner for Data Protection and Freedom of Information</a> (2003-2013))</li>
  <li><a href="https://teamhuman.ch">#TEAMHUMAN</a></li>
  <li><a href="https://aula-blog.website/team/marina-weisband">Marina Weisband</a> (Publicist, Artist)</li>
  <li><a href="https://www.welchering.de">Peter Welchering</a> (Journalist)</li>
</ul>


