<h1 id="holen-wir-uns-das-web-zurück">Holen wir uns das Web zurück!</h1>

<h2 id="ein-manifest-zur-selbstermächtigung-der-internet-nutzerinnen">Ein Manifest zur Selbstermächtigung der Internet-Nutzer*innen</h2>

<h3 id="das-internet-im-jahre-2019">Das Internet im Jahre 2019</h3>

<p>Das Internet ist für viele Menschen eine virtuelle Heimat geworden. Sie pflegen dort Freundschaften und Kontakte, sie suchen und geben Rat, diskutieren über Kunst, Kultur und Persönliches, teilen Fotos, arbeiten zusammen, kaufen ein, spielen, verabreden sich. Kurz: Sie kommunizieren.</p>

<p>Allerdings ziehen wenige attraktive, kommerzielle Plattformen immer mehr Nutzer*innen an. Sie erhalten damit eine Monopolstellung und bedenkliche Macht, indem sie persönlichste Daten ansammeln und gewinnbringend nutzen. Das ist ihr Geschäft. Die Nutzer*innen stehen indes vor der Wahl, entweder den Betreibern ihre Daten an­zuvertrauen, oder von den Plattformen und damit von einem signifikanten Teil ihres sozialen Umfeldes ausge­schlossen zu werden.</p>

<p>Das angesammelte Wissen der Plattformbetreiber ist Macht, verliehen von den Nutzer*innen. Dieses Wissen er­möglicht den Betreibern, weit über das Internet hinaus Menschen zielgerichtet zu manipulieren, sei es um sie zum Kauf von Produkten zu bewegen oder um ihr Verhalten im politischen Raum zu beeinflussen. Dieses Machtinstru­ment steht neben den Betreibern selbst jedem zur Verfügung, der dafür zahlt, oder, wie staatliche Stellen, Druck auf die Betreiber ausüben kann.</p>

<p>Auch für verantwortungsvolle Betreiber gilt: Vorstände können wechseln, Firmen aufgekauft, Richtlinien und ge­setzliche Rahmenbedingungen geändert werden. Darum sind zentralisierte Plattformen grundsätzlich nicht ver­trauenswürdig. Zuverlässig vertrauen kann man nur auf technisch sichergestellten Datenschutz.</p>

<h3 id="die-vision-das-internet-der-zukunft">Die Vision: Das Internet der Zukunft</h3>

<p>Das Internet ist heute schon dezentral und kooperativ angelegt, resistent gegen Zentralismus, Zwang und Zensur. Jede*r kann dort eine eigene WebPräsenz gestalten und frei und selbstbestimmt Herr über seine Daten sein.</p>

<p>Das freiheitliche, demokratische Internet der Zukunft verfügt aber zusätzlich über alltagstaugliche Technologie, die Vertraulichkeit der Kommunikation im Sinne von Privacy by Design ganz selbstverständlich technisch reali­siert. Denn die Internetnutzer*innen der Zukunft sind sich des Wertes persönlicher Daten bewusst und gehen sorg­fältig damit um. Dadurch schützen sie sich selbst und ihre Mitmenschen vor aktuellen und zukünftigen Gefahren. Denn sie wissen, dass Daten, die heute harmlos erscheinen, morgen hoch problematisch sein können.</p>

<h3 id="manifest">Manifest</h3>

<p>Wir, die Unterzeichner*innen dieses Manifests, sind der festen Überzeugung, dass das Internet durch die Nutzer*innen in Besitz genommen werden kann und muss.
Dazu braucht es vertrauenswürdige Kommunikationstechnologie, welche:</p>

<ul>
  <li>Die Privatsphäre und die Rechte der Nutzer*innen auf technischem Wege definitiv sicherstellt.</li>
  <li>In Leistung und Funktion den Nutzer*nnen keine Kompromisse abverlangt.</li>
  <li>Unter einer anerkannten Free and Open Source Lizenz entwickelt wird.</li>
  <li>Dezentral, kollektiv und ausschließlich von den Nutzer*innen selbst betrieben wird.</li>
  <li>Sicheren Datenschutz bei Inhalts- und Metadaten gewährleistet.</li>
  <li>Sehr einfach zu installieren und zu bedienen ist.</li>
  <li>Interoperabilität mit anderen Plattformen und einen Umzug von Profilen schnell, einfach und überzeu­gend ermöglicht.</li>
</ul>

<p>Wir rufen alle Internet-Nutzer*innen auf, sich mit dem Ziel der Etablierung vertrauenswürdiger Kommunikations­technologien zu organisieren und diese breit zu nutzen!</p>

<p>Wir rufen alle Software-Entwickler*innen auf, vertrauenswürdige Kommunikationstechnologie verfügbar zu ma­chen!</p>

<p>Wir rufen alle Entscheidungsträger*innen auf, vertrauenswürdige Kommunikationstechnologie zu fördern!</p>

<p>Wir rufen alle Lehrenden und Kunstschaffenden auf, Bewusstsein zu schaffen für den Umgang mit persönlichen Daten!</p>

<p><strong>Nehmen wir unsere Geschicke selbst in die Hand!</strong></p>

<hr />
<p>Initiatoren:</p>

<ul>
  <li><a href="https://twitter.com/JorgoA">Jorgo Ananiadis</a> (Politiker und Netzaktivist)</li>
  <li><a href="https://twitter.com/kbosefeldt">Kai Bösefeldt</a> (Software-Entwickler, Initiator des <a href="https://straightway.github.io">Straightway-Projektes</a>)</li>
  <li><a href="https://www.patrick-breyer.de">Dr. Patrick Breyer</a> (Mitglied des <a href="https://www.europarl.europa.eu">Europaparlaments</a>)</li>
  <li><a href="https://mdb.anke.domscheit-berg.de">Anke Domscheit-Berg</a> (Mitglied des <a href="https://www.bundestag.de">Deutschen Bundestages</a>)</li>
  <li><a href="https://www.saskiaesken.de">Saskia Esken</a> (Mitglied des <a href="https://www.bundestag.de">Deutschen Bundestages</a>)</li>
  <li><a href="https://www.republik.ch/~adriennefichter">Adrienne Fichter</a> (Journalistin)</li>
  <li><a href="https://www.psg-law.ch/partner/lic._iur._viktor_gyoerffy.html">lic. iur. Viktor Györffy</a> (Rechtsanwalt)</li>
  <li><a href="https://twitter.com/mhausding">Michael Hausding</a> (Vorstand <a href="https://www.isoc.ch">Internet Society Switzerland</a>)</li>
  <li><a href="https://www.akad.de/fernstudium/akad-university/akad-forum-2019/speaker/dr-habil-andrea-herrmann/">Prof. Dr. Andrea Herrmann</a> (Professor an der <a href="https://www.akad.de">AKAD University</a>; <a href="http://www.herrmann-ehrlich.de">Herrmann &amp; Ehrlich</a>)</li>
  <li><a href="https://vecirex.net">Hernâni Marques</a> (Stiftungsrat <a href="https://pep.foundation">p≡p foundation</a>)</li>
  <li><a href="https://www.piratenpartei.ch/">Piratenpartei CH</a></li>
  <li><a href="https://peter-schaar.de">Peter Schaar</a> (Vorsitzender der <a href="https://www.eaid-berlin.de">Europäischen Akademie für Informationsfreiheit und Datenschutz (EAID)</a>, Berlin; <a href="https://www.bfdi.bund.de">Bundesbeauftragter für den Datenschutz und die Informationsfreiheit</a> a.D. (2003-2013))</li>
  <li><a href="https://teamhuman.ch">#TEAMHUMAN</a></li>
  <li><a href="https://aula-blog.website/team/marina-weisband">Marina Weisband</a> (Publizistin, Künstlerin)</li>
  <li><a href="https://www.welchering.de">Peter Welchering</a> (Journalist)</li>
</ul>


