<section id="div_signatures_content" class="inner" style="padding-top:10pt;">
  <h4>Unterschriften</h4>
  <ul>
    <li>von Notz, Konstantin (Mitglied des Deutschen Bundestages)</li>
    <li><a href="https://digitale-gesellschaft.ch">Digitale Gesellschaft Schweiz</a></li>
    <li>124 weitere ...</li>
  <ul>
</section>
